{% extends 'calc/base.html' %}
{% block jquery %}
<script type="text/javascript" charset="utf-8">
    "use strict";
    function getExpr() {
        const elements = $(".calc-input > div").children();
        let expr = "";
        for (const x of elements) {
            switch (true) {
                case $(x).data("id") == "factorial":
                    expr += "!";
                    break;
                case $(x).data("id") == "reciprocal":
                    expr += "**(-1)";
                    break;
                case $(x).data("id") == "combination-func":
                    expr += "nCr";
                    break;
                case $(x).data("id") == "permutation-func":
                    expr += "nPr";
                    break;
                case $(x).data("id") == "polar-func":
                    expr += "pol";
                    break;
                case $(x).data("id") == "rec-func":
                    expr += "rec";
                    break;
                case $(x).data("id") == "colon":
                    expr += ":";
                    break;
                case $(x).data("id") == "cbrt":
                    expr += "cbrt";
                    break;
                case $(x).data("id") == "cube":
                    expr += "**3";
                    break;
                case $(x).data("id") == "sqrt":
                    expr += "sqrt";
                    break;
                case $(x).data("id") == "square-2":
                    expr += "**2";
                    break;
                case $(x).data("id") == "exponent":
                    expr += "**";
                    break;
                case $(x).data("id") == "x-root":
                    expr += "xroot";
                    break;
                case $(x).data("id") == "log":
                    expr += "log10";
                    break;
                case $(x).data("id") == "antilog":
                    expr += "10**";
                    break;
                case $(x).data("id") == "ln":
                    expr += "log";
                    break;
                case $(x).data("id") == "antiln":
                    expr += "e**";
                    break;
                case $(x).data("id") == "e-script":
                    expr += "e";
                    break;
                case $(x).data("id") == "dash":
                    expr += "-";
                    break;
                case $(x).data("id") == "lttra":
                    expr += "A";
                    break;
                case $(x).data("id") == "lttrb":
                    expr += "B";
                    break;
                case $(x).data("id") == "degree-entry":
                    expr += "deci";
                    break;
                case $(x).data("id") == "lttrc":
                    expr += "C";
                    break;
                case $(x).data("id") == "sin":
                    expr += "sin";
                    break;
                case $(x).data("id") == "sinh":
                    expr += "sinh";
                    break;
                case $(x).data("id") == "arcsin":
                    expr += "asin";
                    break;
                case $(x).data("id") == "arcsinh":
                    expr += "asinh";
                    break;
                case $(x).data("id") == "cos":
                    expr += "cos";
                    break;
                case $(x).data("id") == "cosh":
                    expr += "cosh";
                    break;
                case $(x).data("id") == "arcos":
                    expr += "acos";
                    break;
                case $(x).data("id") == "arcosh":
                    expr += "acosh";
                    break;
                case $(x).data("id") == "tan":
                    expr += "tan";
                    break;
                case $(x).data("id") == "tanh":
                    expr += "tanh";
                    break;
                case $(x).data("id") == "arctan":
                    expr += "atan";
                    break;
                case $(x).data("id") == "arctanh":
                    expr += "atanh";
                    break;
                case $(x).data("id") == "lttrd":
                    expr += "D";
                    break;
                case $(x).data("id") == "lttre":
                    expr += "E";
                    break;
                case $(x).data("id") == "lttrf":
                    expr += "F";
                    break;
                case $(x).data("id") == "l-parenthesis":
                    expr += "(";
                    break;
                case $(x).data("id") == "r-parenthesis":
                    expr += ")";
                    break;
                case $(x).data("id") == "lttrx":
                    expr += "X";
                    break;
                case $(x).data("id") == "lttry":
                    expr += "Y";
                    break;
                case $(x).data("id") == "semicolon":
                    expr += ";";
                    break;
                case $(x).data("id") == "comma":
                    expr += ",";
                    break;
                case $(x).data("id") == "lttrm":
                    expr += "M";
                    break;
                case $(x).data("id") == "nine":
                    expr += "9";
                    break;
                case $(x).data("id") == "eight":
                    expr += "8";
                    break;
                case $(x).data("id") == "seven":
                    expr += "7";
                    break;
                case $(x).data("id") == "six":
                    expr += "6";
                    break;
                case $(x).data("id") == "five":
                    expr += "5";
                    break;
                case $(x).data("id") == "four":
                    expr += "4";
                    break;
                case $(x).data("id") == "three":
                    expr += "3";
                    break;
                case $(x).data("id") == "two":
                    expr += "2";
                    break;
                case $(x).data("id") == "one":
                    expr += "1";
                    break;
                case $(x).data("id") == "zero":
                    expr += "0";
                    break;
                case $(x).data("id") == "dot":
                    expr += ".";
                    break;
                case $(x).data("id") == "rand":
                    expr += "rand";
                    break;
                case $(x).data("id") == "pi":
                    expr += "pi";
                    break;
                case $(x).data("id") == "pow10":
                    expr += "*10**";
                    break;
                case $(x).data("id") == "deg":
                    expr += "deg";
                    break;
                case $(x).data("id") == "rad":
                    expr += "rad";
                    break;
                case $(x).data("id") == "grad":
                    expr += "grad";
                    break;
                case $(x).data("id") == "plus":
                    expr += "+";
                    break;
                case $(x).data("id") == "minus":
                    expr += "-";
                    break;
                case $(x).data("id") == "times":
                    expr += "*";
                    break;
                case $(x).data("id") == "divide":
                    expr += "/";
                    break;
                case $(x).data("id") == "ans":
                    expr += "Ans";
                    break;
                default:
                    console.log(`${x} not matched`);
                }
            }
            return expr;
        }

        function showError(msg) {
            $(".calc-input,.calc-output,.calc-indicators,.contrast").animate({
                opacity: 0
            }, 400).css("display", "none");
            $(".error-box").html(msg);
            $(".calc-show-mode > div").not('.on-error').css("display", "none");
            $(".calc-show-mode,.on-error").css({
                opacity: 1,
                display: "flex"
            });
            $(".calc-display").data("error", true);
        }

        function anyModeActive() {
            return ($("#power-off").data("active") || $("#base-mode").data("progress") > 0 || $("#clear-mode").data("state") > 0 || $(".calc-display").data("error") || $(".calc-display").data("dispset") || $(".calc-display").data("contset") || $("#ireg").data("view") > 0 || $("#ssum").data("sdstate") === 1 || $("#svar").data("sdstate") === 1 || $("#ssum").data("regstate") === 1 || $("#svar").data("regstate") === 1);
        }
        function getActiveDispMode() {
            if ($("#ifix").data("active")) {
                return {disp:"fix",option:$("#ifix").data("option")};
            }
            else if ($("#isci").data("active")) {
                return {disp:"sci",option:$("#isci").data("option")};
            }
            return {disp:"norm",option:$("#inorm").data("option")};
        }

        function getActiveUnit() {
            if ($("#iconvd").data("active")) {
                return "deg";
            }
            else if ($("#iconvr").data("active")) {
                return "rad";
            }
            return "grad";
        }
        
        $("#equals").click(() => {
            if (!(anyModeActive())) {
                setTimeout(() => {
                    $.ajax({
                        type: "POST",
                        url: "{% url 'ajax-math' %}",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            expr: getExpr(),
                            labels: JSON.stringify($("#equals").data("labels")),
                            pt: JSON.stringify(getActiveDispMode()),
                            aunit: getActiveUnit(),
                        },
                        success: function(response) {
                            $(".calc-output-main").html(response.resf);
                            if (!(["Math Error","Syntax Error"].includes(response.resf))) {
                                const obj = $("#equals").data("labels");
                                obj.Ans = response.res;
                                $("#equals").data("labels", obj);
                            }
                            else {
                                showError(response.resf);
                            }
                        },
                        error: function(response) {
                            showError(response);
                        }
                    });
                }, 100);
            }
        });
    </script>
    {% endblock jquery %}